
.todo-heading {
    height: 45px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    background-color: #670ab7;
    padding: 35px 25px;
    margin: 30px 59px;
    border-radius: 10px

}

.todo {
    height: 45px;
    background: rgb(103,10,183);
background: radial-gradient(circle, rgba(103,10,183,0.375875350140056) 19%, rgba(103,10,183,1) 86%);
font-size: 27px;
    color: white;
    border: 1px solid white;
    border-radius: 11px;
    margin: -5px 62px 16px 19px;
    padding: 16px 25px;

}


.done {
    text-decoration: line-through;
}

.okay-icon {
    color: white;
    background-color: #670ab7;
    font-size: 30px;
    border: 1px solid #670ab7;
    float: right;
}


